__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

build/
dist/
.eggs/
*.egg-info/
*.egg

.venv/
venv/
env/
.venv*/
pythonenv*/
.python-version

*.log
logs/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.dmypy.json
.cache/

*.sqlite3


local_settings.py


*.pid
*.pid.lock
*.sock

docker-compose.override.yml
compose.override.yml
compose.override.yaml

.env
.env.*
!.env.example   # mantenha um modelo sem segredos


staticfiles/

media/

.vscode/
.idea/
*.code-workspace
.DS_Store
Thumbs.db
